body {
    background-color: #F4F4F4;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Global Styles */

.container {
    margin: auto;
    overflow: hidden;
    width: 80%;
}

ul {
    margin: 0;
    padding: 0;
}

.button-1 {
    background: #E8491D;
    border: none;
    color: #FFFFFF;
    height: 37px;
    padding: 0 20px 0 20px;
}

/* Header */

header {
    background-color: #35424A;
    border-bottom: 3px solid #E8491D;
    color: #FFFFFF;
    min-height: 70px;
    padding-top: 30px;
}

header a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

header li {
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #E8491D;
    font-weight: bold;
}

header a:hover {
    color: #CCCCCC;
    font-weight: bold;
}

/* Showcase */

#showcase {
    background-image: URL('../img/showcase.jpg');
    background-position-x: 0;
    background-position-y: -400px;
    background-repeat: no-repeat;
    background-size: cover ;
    color: #FFFFFF;
    min-height: 400px;
    text-align: center;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 100px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */

#newsletter {
    background-color: #35424A;
    color: #FFFFFF;
    padding: 15px;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float:right;
    margin-top: 15px;
}

#newsletter input[type = 'email'] {
    height: 25px;
    padding: 4px;
    width: 250px;
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    padding: 10px;
    text-align: center;
    width: 30%;
}

#boxes .box img {
    width: 90px;
}

/* Footer */

footer {
    background-color: #E8491D;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}